@model System.Linq.IQueryable<Webapp.Models.Olympics.CompetitorEventsView>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.FirstOrDefault().Name</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Sport</th>
            <th>Event</th>
            <th>City</th>
            <th>Season</th>
            <th>Age</th>
            <th>Medal</th>
        </tr>
    </thead>
    <tbody>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SportName) </td>
                <td>@Html.DisplayFor(modelItem => item.EventName) </td>
                <td>@Html.DisplayFor(modelItem => item.CitiName) </td>
                <td>@Html.DisplayFor(modelItem => item.Season) </td>
                <td>@Html.DisplayFor(modelItem => item.Age) </td>
                <td>@Html.DisplayFor(modelItem => item.Medal) </td>
            </tr>
        }

    
    </tbody>
    
    
</table>
